* {
    box-sizing: border-box;
}

body {
    width: 1900px;
}

header {
    background-image: url("../img/header.jpg");
    height: 573px;
    text-align: center;
    margin-bottom: 50px;
}

nav {
    background-color: black;
    height: 10%;
    font-family: "Times New Roman", Times, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 65%;
}

nav li {
    display: inline-block;
    margin-left: 5px;
}

nav li a{
    text-decoration: none;
    color: white;
}

h1 {
    padding-top: 90px;
    font-size: 100px;
    color: aliceblue;
}

h2 {
    padding-top: 10px;
    font-size: 50px;
    color:azure;
    font-variant: small-caps;
}

h1, h2 {
    font-family: "Georgia", serif;
}

.photo-grid {
    margin-left: 10%;
}

.photo-grid img {
    width: 30%;
    border: 1px solid black;
    margin: 0px 20px 20px 0px;
}

.line {
    border-bottom: 3px solid #bfbfbf;
    margin: 10px 0px 0px 0px;

}

h3 {
    font-family: "Times New Roman", times, sans-serif;
    font-size: 20px;
    color: gray;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

form {
    margin-top: 40px;
}

input {
    width: 31%;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 47px;
    border-radius: 5px;
    border-width: 1px;
    border-color: gainsboro;
}

.submit {
    background-color: #7c99a8;
}

.yoph {
    margin-left: 660px;
    margin-bottom: 10px;
    text-align: left;
}

footer {
    background-color: #192024;
}

.twopic {
    width: 70%;
    margin-left: 30%;
    padding-top: 50px;
}

.twopic figure {
    width: 30%;
    display: inline-block;
}

.twopic figcapture {
    font-size: 25px;
    color: aliceblue;
    padding-left: 25%;
}

.twopic img{
    border-radius: 10px;
}

.sitemap {
    width: 60%;
    padding-right: 10%;
}

.sitemap a{
    font-size: 1.2em;
    text-decoration: none;
    color: white;
}

.futer {
    display: flex;
    width: 70%;
    margin-top: 50px;
    padding-bottom: 2%;
    padding-left: 15%;
}

.footer-navigation {
    display: inline-flex;
    padding-left: 30%;
}

.list {
    margin-left: 100px;
}

.list, li {
    line-height: 50px;
}

.joinup{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    padding-left: 30px;
}

.sitemap, .socials {
    padding-left: 20%;
}

.socials {
    margin-top: 1%;
    padding-left: 20%;
}

.socials li{
    display: inline;
    margin-right: 6px;
}