* {
    box-sizing: border-box;
}

header {
    background-image: url("../img/header.jpg");
    height: 573px;
    text-align: center;
    margin-bottom: 50px;
}

nav {
    background-color: black;
    height: 55px;
}

nav ul {
    font-family: "Times New Roman", Times, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 50px;
    text-align: right;
    margin-right: 10%;
}

nav li {
    display: inline-block;
    margin-left: 5px;
}

nav li a{
    text-decoration: none;
    color: white;
}

h1 {
    padding-top: 90px;
    font-size: 100px;
    color: aliceblue;
}

h2 {
    padding-top: 10px;
    font-size: 50px;
    color:azure;
    font-variant: small-caps;
}

h1, h2 {
    font-family: "Georgia", serif;
}

.photo-grid {
    width: 1500px;
    text-align: center;
    margin: 0 auto;
}

.card {
    display: inline-block;
    border: 1px solid black;
    margin: 0px 20px 20px 0px;
}

.card a {
    display: inline-block;
}

.line {
    border-bottom: 3px solid #bfbfbf;
    margin: 30px 0px 0px 0px;
}

h3 {
    font-family: "Times New Roman", times, sans-serif;
    font-size: 20px;
    color: gray;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

form {
    text-align: center;
    margin: 0 auto;
}

input {
    width: 30%;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 47px;
    border-radius: 5px;
    border-width: 1px;
    border-color: gainsboro;
}

input[type="text"]:focus {
    border: 2px solid darkblue;
}

.submit {
    background-color: #7c99a8;
}

.yoph {
    margin-left: 660px;
    text-align: left;
}

footer {
    background-color: #1f1f1f;
}

.twopicback {
    background-color: #192024;
}

.twopic {
    width: 950px;
    padding-top: 50px;
    margin: 0 auto;
}

.twopic figure {
    display: inline-block;
    text-align: center;
}

.twopic span {
    font-size: 25px;
    color: aliceblue;
}

.twopic img{
    border-radius: 10px;
    margin-bottom: 10px;
}

.pic2 {
    padding-left: 45px;
}

.footer-navigation {
    width: 900px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-navigation div {
    display: inline-block;
    vertical-align: top;
}

.nowrap {
    white-space: nowrap;
}

.sitemap {
    width: 70%;
    margin: 0 auto;
}

.sitemap .list {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
}

.sitemap a {
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}

.sitemap a:hover {
    color: lightcoral;
}

.socials {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.joinup{
    color: white;
    font-size: 30px;
}

.socials li{
    display: inline-block;
    margin-left: 5px;
}