* {
    box-sizing: border-box;
}

header {
    background: url("../img/header.jpg");
    height: 573px;
    text-align: center;
    margin-bottom: 50px;
}

nav {
    background-color: black;
    height: 10%;
    font-family: "Times New Roman", Times, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 65%;
}

nav li a{
    display: inline;
    float: left;
    margin-top: 1px;
    text-decoration: none;
    color: white;
    margin-right: 7px;
}

h1 {
    padding-top: 90px;
    font-size: 100px;
    font-family: "Georgia", serif;
    color: aliceblue;
}

h2 {
    padding-top: 10px;
    font-size: 50px;
    font-family: "Georgia", serif;
    color:azure;
    font-variant: small-caps;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    margin-left: 20%;
}

.photo-grid > li {
    border: 1px solid black;
    margin: 0px 30px 30px 0px;
}

.line {
    border-bottom: 3px solid #bfbfbf;
    margin: 10px 0px 00px 0px;

}

h3 {
    font-family: "Times New Roman", times, sans-serif;
    font-size: 20px;
    color: gray;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

form {
    margin-top: 40px;
}

input {
    min-width: 598px;
    max-width: 598px;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 47px;
    border-radius: 5px;
    border-width: 1px;
    border-color: gainsboro;
}

#submit {
    background-color: #7c99a8;
}

#yoph {
    margin-left: 660px;
    margin-bottom: 10px;
    text-align: left;
}

footer {
    background-color: #192024;
}

footer img {
    border-radius: 10px;
}

#twopic {
    display:flex;
    padding-left: 28%;
    padding-top: 50px;
}

#twopic figcapture {
    font-size: 25px;
    color: aliceblue;
    padding-left: 25%;
}

#pic2 {
    padding-left: 50px;
}

#sitemap {
    padding-right: 10%;
}

#sitemap a{
    font-size: 1.2em;
    text-decoration: none;
    color: white;
}

.futer {
    display: flex;
    width: 70%;
    margin-top: 50px;
    padding-bottom: 2%;
    padding-left: 10%;
}

.footer-navigation {
    display: inline-flex;
    padding-left: 30%;
}

.list {
    margin-left: 100px;
}

.list, li {
    line-height: 50px;
}

#joinup{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    padding-left: 30px;
}

#sitemap, #socials {
    padding-left: 20%;
}

#socials {
    margin-top: 1%;
    padding-left: 15%;
}

#socials li{
    display: inline;
    margin-right: 6px;
}