body {
    max-width: 1000px;
    background-color: aliceblue;
}

h1 {
    font-size: 28px;
    color: cadetblue;
    text-align: center;
}


dt a {
    color: cadetblue;
    text-decoration: none;
    padding: 3px;
    margin: 10px;
    border: 1px solid;
    border-radius: 5px;
}

dd {
    text-align: justify;
    border: 1px solid black;
    border-radius: 7px;
    padding: 3px;
    margin: 15px
}

footer {
    color: aliceblue;
    background-color: cadetblue;
    text-align: center;
    padding: 5px;
}