<header>
  <nav>
      <div class="logo"><a href="#home">Your Logo</a></div>
      <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about-us">About</a></li>
          <li><a href="#our-services">Servicing</a></li>
          <li><a href="#pricing-plan">Portfolio</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#contact-us">Contact us</a></li>
          <li><img class="search" src="assets/img/magnifying-glass.svg"></li>
      </ul>
  </nav>
  <div id="home" class="home">
      <h1>Web development project</h1>
      <h2>Very suitable to support all web development projects</h2>
      <div class="button">
        <a href="#our-services">our services</a>
        <a href="#contact-us">hire us now</a>
      </div>
      <a class="arrow" href="#about-us"><i class="down"></i></a>
  </div>
</header>
<main>
  <div id="about-us" class="about-us">
    <h3>About Us</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</h4>
    <div class="au-desc">
      <div class="au-items">
        <img src="assets/img/internet.svg">
        <p>Awesome Icons</p>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
      </div>
      <div class="au-items">
        <img src="assets/img/b2b.svg">
        <p>One page</p>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
      </div>
      <div class="au-items">
        <img src="assets/img/communications.svg">
        <p>Fully Responsive</p>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
      </div>
    </div>
  </div>
  <div id="our-services" class="our-services">
    <h3>Our Services</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</h4>
    <div class="os-items">
      <div class="os-card">
        <img src="assets/img/smartphone.svg">
        <p>Research</p>
        <span>At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos.</span>
        <a href="#home">read more</a>
      </div>
      <div class="os-card">
        <img src="assets/img/smartphone.svg">
        <p>Portfolio</p>
        <span>At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos.</span>
        <a href="#home">read more</a>
      </div>
      <div class="os-card">
        <img src="assets/img/smartphone.svg">
        <p>Support</p>
        <span>At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos.</span>
        <a href="#home">read more</a>
      </div>
      <div class="os-card">
        <img src="assets/img/smartphone.svg">
        <p>Documentation</p>
        <span>At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos.</span>
        <a href="#home">read more</a>
      </div>
      <div class="os-card">
        <img src="assets/img/smartphone.svg">
        <p>Development</p>
        <span>At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos.</span>
        <a href="#home">read more</a>
      </div>
      <div class="os-card">
        <img src="assets/img/smartphone.svg">
        <p>Design</p>
        <span>At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos.</span>
        <a href="#home">read more</a>
      </div>
    </div>
  </div>
  <div id="pricing-plan" class="pricing-plan">
    <h3>Pricing Plan</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</h4>
    <div class="pp-items">
      <div class="pp-card">
        <div class="grad">
          <p>Free Trial</p>
          <p><span class="usd">$</span>00<span class="month">per month</span></p>
        </div>
        <div>30 Free Trial</div>
        <div>5 Free Projects</div>
        <div>PHP 5 Enabled</div>
        <div>24/7 Support</div>
        <a href="#home">order now</a>
      </div>
      <div class="pp-card">
        <div class="grad">
          <p>Free Trial</p>
          <p><span class="usd">$</span>00<span class="month">per month</span></p>
        </div>
        <div>30 Free Trial</div>
        <div>5 Free Projects</div>
        <div>PHP 5 Enabled</div>
        <div>24/7 Support</div>
        <a href="#home">order now</a>
      </div>
      <div class="pp-card">
        <div class="grad">
          <p>Free Trial</p>
          <p><span class="usd">$</span>00<span class="month">per month</span></p>
        </div>
        <div>30 Free Trial</div>
        <div>5 Free Projects</div>
        <div>PHP 5 Enabled</div>
        <div>24/7 Support</div>
        <a href="#home">order now</a>
      </div>
    </div>
  </div>
  <div id="our-team" class="our-team">
    <h3>Our Team Member</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</h4>
    <div class="ot-items">
      <div class="ot-card">
        <img src="assets/img/GM.png">
        <div class="name">Andrew Poklyak</div>
        <div class="post">General Manager</div>
        <div class="socnet">
          <a href="#home"><img src="assets/img/internet.svg"></a>
          <a href="#home"><img src="assets/img/b2b.svg"></a>
          <a href="#home"><img src="assets/img/communications.svg"></a>
          <a href="#home"><img src="assets/img/smartphone.svg"></a>
        </div>
      </div>
      <div class="ot-card">
        <img src="assets/img/GM22.png">
        <div class="name">Egor Garkavy</div>
        <div class="post">General Manager</div>
        <div class="socnet">
          <a href="#home"><img src="assets/img/internet.svg"></a>
          <a href="#home"><img src="assets/img/b2b.svg"></a>
          <a href="#home"><img src="assets/img/communications.svg"></a>
          <a href="#home"><img src="assets/img/smartphone.svg"></a>
        </div>
      </div>
      <div class="ot-card">
        <img src="assets/img/GM3.png">
        <div class="name">Artem Razmyslovich</div>
        <div class="post">General Manager</div>
        <div class="socnet">
          <a href="#home"><img src="assets/img/internet.svg"></a>
          <a href="#home"><img src="assets/img/b2b.svg"></a>
          <a href="#home"><img src="assets/img/communications.svg"></a>
          <a href="#home"><img src="assets/img/smartphone.svg"></a>
        </div>
      </div>
    </div>
    <div class="dots"><span class="dot dotblue"></span><span class="dot"></span><span class="dot"></span></div>
  </div>
  <div id="blog" class="blog">
    <h3>Blog</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</h4>
    <div class="blog-items">
      <div class="blog-card">
        <div><img src="assets/img/00.jpg"></div>
        <div class="blog-text">
          <a href="#home">SEO Quis Vestibulu</a>
          <div class="caldev">
            <img src="assets/img/internet.svg"> <span>14.07.2017</span>
            <img src="assets/img/internet.svg"> <span>Development</span>
          </div>
          <p>Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
        </div>
      </div>
      <div class="blog-card card-rev">
        <div class="blog-text">
          <a href="#home">SEO Quis Vestibulu</a>
          <div class="caldev">
            <img src="assets/img/internet.svg"> <span>14.07.2017</span>
            <img src="assets/img/internet.svg"> <span>Development</span>
          </div>
          <p>Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
        </div>
        <div><img src="assets/img/00.jpg"></div>
      </div>
      <div class="blog-card">
        <div><img src="assets/img/00.jpg"></div>
        <div class="blog-text">
          <a href="#home">SEO Quis Vestibulu</a>
          <div class="caldev">
            <img src="assets/img/internet.svg"> <span>14.07.2017</span>
            <img src="assets/img/internet.svg"> <span>Development</span>
          </div>
          <p>Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
        </div>
      </div>
    </div>
    <div class="moreview"><a href="#home">more view</a></div>
  </div>
  <div id="contact-us" class="contact-us">
      <h3>Contact Us</h3>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</h4>
      <div class="cu-items">
        <div class="cu-card">
          <img src="assets/img/internet.svg">
          <p>Dev-Team, Inc.</p>
          <p>Los Angeles</p>
        </div>
        <div class="cu-card">
          <img src="assets/img/b2b.svg">
          <a href="tel:+880005553535">+880005553535</a>
          <a href="tel:+880005553535">+880005553535</a>
        </div>
        <div class="cu-card">
          <img src="assets/img/communications.svg">
          <a href="mailto:dev-team@gmail.com">dev-team@gmail.com</a>
          <a href="dev-team@yahoo.com">dev-team@yahoo.com</a>
        </div>
      </div>
      <form>
        <div class="input input-col">
          <input type="text" placeholder="Your Name">       
          <input type="text" placeholder="Your Email">
        </div>
        <div class="input"><textarea type="text" placeholder="Write message"></textarea></div>
        <div class="input"><input type="button" value="Send"></div>
      </form>
  </div>
</main>
<footer>
  <p class="copyright">All rigths Reserved © 2017</p>
</footer>